<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oosic.iot.controller"
    android:versionCode="3"
    android:versionName="0.90.01" >

    <original-package android:name="com.oosic.iot.controller" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.oosic.iot.controller.IotApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_ir"
        android:theme="@style/Theme.Activity"
        android:label="@string/app_name_ir" >
        <activity
            android:name="com.oosic.iot.controller.IotControlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <activity
            android:name="com.oosic.iot.controller.LightControlActivity"
            android:label="@string/app_name_light"
            android:screenOrientation="landscape" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <activity
            android:name="com.oosic.iot.controller.SensorControlActivity"
            android:label="@string/app_name_sensor"
            android:screenOrientation="landscape" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <activity
            android:name="com.oosic.iot.controller.IrEntryActivity"
            android:label="@string/app_name_ir"
            android:screenOrientation="landscape" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <activity
            android:name="com.oosic.iot.controller.TvControlActivity"
            android:label="@string/app_name_ir"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.oosic.iot.controller.AirControlActivity"
            android:label="@string/app_name_ir"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.oosic.iot.controller.ShareboxControlActivity"
            android:label="@string/app_name_ir"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.oosic.iot.controller.PowerStatusActivity"
            android:label="@string/app_name_power"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oosic.iot.controller.CurtainControlActivity"
            android:label="@string/app_name_curtain"
            android:screenOrientation="landscape" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <activity
            android:name="com.oosic.iot.controller.DimmerControlActivity"
            android:label="@string/app_name_dimmer"
            android:screenOrientation="landscape" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
    </application>

</manifest>